<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Add Opportunitys</title>
        
        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>        <script>
            $(document).ready(function(){
                
              var email,pass
              $("#logOut").click(function(){
                  email="";
                  pass="";
                  
                  $.post("/login",{email:email,pass:pass},function(data){
                      if(data==='done') {
                          window.location.href="/logout"
                      }
                  })
              })

              $("#cancel").click(function() {
                window.location.href="/manageOpportunities"
                })

            });

            </script>
    </head>
    <body>
        <h1>${input.greeting}</h1>
        <h1>Opportunitys to add</h1>

        <form action="">
            <label for="first">First name:</label>
            <input type="text" id="first" name="firstName"><br><br>
            
                
            <input type="submit" value="Submit">
        </form>

        <input type="button" value="Cancel" id="cancel">
        <input type="button" value="log out" id="logOut" onclick("logOut")>

    </body>
</html>