<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Add Volunteers</title>
        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
                var email,pass
              $ ("#logOut").click(function(){
                    email="";
                    pass="";
                  
                    $.post("/login",{email:email,pass:pass},function(data){
                        if(data==='done') {
                            window.location.href="/logout"
                        }
                    })
                })

                $("#cancel").click(function() {
                    window.location.href="/manageVolunteers"
                })



            });

   

            function validateForm(event) {
                var inputEmail = document.forms["addVolunteer"]["email"].value
                var emailPat = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?")
                if (inputEmail && (!inputEmail.match(emailPat))) {
                    alert("Incorrect Email Format")

                    return false;
                }
                var inputPhoneNumber = document.forms["addVolunteer"]["phoneNumber"].value
                var inputemergencyPhoneNumber = document.forms["addVolunteer"]["emergencyPhoneNumber"].value
                var phonePat = new RegExp("^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$")
                if (inputPhoneNumber && (!inputPhoneNumber.match(phonePat))) {
                    alert("Incorrect Phone number Format")                    
                    return false;
                }
                if (inputemergencyPhoneNumber && (!inputemergencyPhoneNumber.match(phonePat))) {
                    alert("Incorrect Emergency Phone number Format")                    
                    return false;
                }
                var inputAddress = document.forms["addVolunteer"]["address"].value
                var inputEmergencyAddress = document.forms["addVolunteer"]["emergencyAddress"].value
                var addressPat = new RegExp("^[0-9]+\\s[A-Z||a-z||\\s||.]*\\s[0-9][0-9][0-9][0-9][0-9]\\s[A-Z||a-z]+$")
                if (inputAddress && (!inputAddress.match(addressPat))){
                    alert("Incorrect Address, use format: house# street zip state")
                    return false;
                }
                if (inputEmergencyAddress && (!inputEmergencyAddress.match(addressPat))){
                    alert("Incorrect Emergency Address, use format: house# street zip state")
                    return false;
                }
            }
            </script>
    </head>
    <body>
        <div class="navbar">
            <h1>${input.greeting}</h1>
            <input type="button" value="log out" id="logOut" onclick("logOut")>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <h2 style="padding-left: 0;">Add Volunteer</h2>

                <form action="/addVolunteer" method="post" name = "addVolunteer">

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="first">First name: </label>
                            <input class="form-control" type="text" id="first" name="firstname"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="last">Last name: </label>
                            <input class="form-control" type="text" id="last" name="lastname"><br><br>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="userName">User name: </label>
                            <input class="form-control" type="text" id="userName" name="username"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" id="password" name="password"><br><br>
                        </div>
                    </div>

                    <div class="form-group" id="centers">
                        <div class="row">
                            <label class="form-label" for="">Perfered Volunteer centers: </label>
                            <!-- <textarea class="form-control" rows="3" cols="40" name="centers" id=""></textarea><br><br> -->
                        </div>
                    </div>

                    <div id="center"> </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Skills/Interests: </label>
                            <textarea class="form-control" rows="3" cols="40" name="skills" id=""></textarea><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Availability Times: </label>
                            <input class="form-control" type="text" id="" name="availability"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Address: </label>
                            <input class="form-control" type="text" id="address" name="address" placeholder="house# street zip state"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Phone #: </label>
                            <input class="form-control" type="text" id="phoneNumber" name="phone" placeholder="##########"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="email">Email: </label>
                            <input class="form-control" type="text" id="email" name="email" placeholder="example@exaple.com"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="educationalBackground">Edcuational Background: </label>
                            <textarea class="form-control" rows="3" cols="40" name="education" id="educationalBackground"></textarea><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Current Licenses: </label>
                            <input class="form-control" type="text" id="" name="licenses"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Emergency Contact Name: </label>
                            <input class="form-control" type="text" id="" name="emergencyname"><br><br>
                        </div>
                    </div> 

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Emergency Contact Phone #: </label>
                            <input class="form-control" type="text" id="emergencyPhoneNumber" name="emergencyphone" placeholder="##########"><br><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="">Emergency Contact Email: </label>
                            <input class="form-control" type="text" id="emergencyEmail" name="emergencyemail" placeholder="example@exaple.com"><br><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" >Emergency Contact Address: </label>
                            <input class="form-control" type="text" id="emergencyAddress" name="emergencyaddress" placeholder="house# street zip state"><br><br>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="row">
                            <label>Copy of Drivers License on File: </label>
                            <select class="form-control" name="dlfile">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label>Copy of SSN on file: </label>
                            <select class="form-control" name="ssfile">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label>Volunteers Approval Status: </label>
                            <select class="form-control" name="approval">
                                <option value="true">Approved</option>
                                <option value="false">Denied</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2" style="padding-left: 0;">
                                <input type="submit" id="submit" value="Submit">
                            </div>
                            <div class="col-2" style="padding-left: 0;">
                                <input type="button" value="Cancel" id="cancel">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>