<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Edit Volunteers</title>
        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                setOption(document.getElementsByName('dlfile')[0], '${input.volunteer.dlfile}')
                setOption(document.getElementsByName('ssfile')[0], '${input.volunteer.ssfile}')
                setOption(document.getElementsByName('approval')[0], '${input.volunteer.approval}')
                var email,pass
                $ ("#logOut").click(function(){
                    email="";
                    pass="";
                  
                    $.post("/login",{email:email,pass:pass},function(data){
                        if(data==='done') {
                            window.location.href="/logout"
                        }
                    })
                })

                $("#cancel").click(function() {
                    window.location.href="/manageVolunteers"
                })

                $("#submit").click(function() {
                    window.location.href="/manageVolunteers"
                })

            });

            function setOption(selectElement, value) {
                return [...selectElement.options].some((option, index) => {
                    if (option.value == value) {
                        selectElement.selectedIndex = index;
                        return true;
                    }
                });
            }

            function validateForm() {
                
                var inputEmail = document.forms["addVolunteer"]["email"].value
                var emailPat = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?")
                if (inputEmail && (!inputEmail.match(emailPat))) {
                    alert("Incorrect Email Format")
                    return false
                }
                var inputPhoneNumber = document.forms["addVolunteer"]["phoneNumber"].value
                var inputemergencyPhoneNumber = document.forms["addVolunteer"]["emergencyPhoneNumber"].value
                var phonePat = new RegExp("^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$")
                if (inputPhoneNumber && (!inputPhoneNumber.match(phonePat))) {
                    alert("Incorrect Phone number Format")                    
                    return false
                }
                if (inputemergencyPhoneNumber && (!inputemergencyPhoneNumber.match(phonePat))) {
                    alert("Incorrect Emergency Phone number Format")                    
                    return false
                }

                var inputAddress = document.forms["addVolunteer"]["address"].value
                var inputEmergencyAddress = document.forms["addVolunteer"]["emergencyAddress"].value
                var addressPat = new RegExp("^[0-9]+\\s[A-Z||a-z||\\s||.]*\\s[0-9][0-9][0-9][0-9][0-9]\\s[A-Z||a-z]+$")
                if (inputAddress && (!inputAddress.match(addressPat))){
                    alert("Incorrect Address, use format: house# street zip state")
                    return false

                }

                if (inputEmergencyAddress && (!inputEmergencyAddress.match(addressPat))){
                    alert("Incorrect Emergency Address, use format: house# street zip state")
                    return false

                }
                else{
                    window.location.href="/manageVolunteers"
                }

            }

            </script>
    </head>
    <body>
        <h1>${input.greeting}</h1>
        <h1>Edit Volunteer</h1>

        <form action="/editVolunteer/${input.id}" method="post" name = "editVolunteer">
            <label for="first">First name: </label>
            <input type="text" id="first" name="firstname" value="${input.volunteer.firstname}"><br><br>
            
            <label for="last">Last name: </label>
            <input type="text" id="last" name="lastname" value="${input.volunteer.lastname}"><br><br>
            
            <label for="userName">User name: </label>
            <input type="text" id="userName" name="username" value="${input.volunteer.username}"><br><br>

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" value="${input.volunteer.password}"><br><br>

            <label for="">Perfered Volunteer centers: </label>
            <textarea rows="3" cols="40" name="centers" id="" value="${input.volunteer.centers}"></textarea><br><br>

            <label for="">Skills/Interests: </label>
            <textarea rows="3" cols="40" name="skills" id="" value="${input.volunteer.skills}"></textarea><br><br>

            <label for="">Availability Times: </label>
            <input type="text" id="" name="availability" value="${input.volunteer.availability}"><br><br>

            <label for="">Address: </label>
            <input type="text" id="address" name="address" placeholder="house# street zip state" value="${input.volunteer.address}"><br><br>

            <label for="">Phone #: </label>
            <input type="text" id="phoneNumber" name="phone" placeholder="##########" value="${input.volunteer.phone}"><br><br>

            <label for="email">Email: </label>
            <input type="text" id="email" name="email" placeholder="example@exaple.com" value="${input.volunteer.email}"><br><br>

            <label for="educationalBackground">Edcuational Background: </label>
            <textarea rows="3" cols="40" name="education" id="educationalBackground" value="${input.volunteer.education}"></textarea><br><br>

            <label for="">Current Licenses: </label>
            <input type="text" id="" name="licenses" value="${input.volunteer.licenses}"><br><br>

            <label for="">Emergency Contact Name: </label>
            <input type="text" id="" name="emergencyname" value="${input.volunteer.emergencyname}"><br><br>

            <label for="">Emergency Contact Phone #: </label>
            <input type="text" id="emergencyPhoneNumber" name="emergencyphone" placeholder="##########" value="${input.volunteer.emergencyphone}"><br><br>

            <div class="form-group">
                <div class="row">
                    <label for="">Emergency Contact Email: </label>
                    <input type="text" id="emergencyEmail" name="emergencyemail" placeholder="example@exaple.com" value="${input.volunteer.emergencyemail}"><br><br>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="">Emergency Contact Address: </label>
                    <input type="text" id="emergencyAddress" name="emergencyaddress" placeholder="house# street zip state" value="${input.volunteer.emergencyaddress}"><br><br>
                </div>
            </div> 
            <div class="form-group">
                <div class="row">
                    <label>Copy of Drivers License on File: </label>
                    <select class="form-control" name="dlfile" value="${input.volunteer.dlfile}">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label>Copy of SSN on file: </label>
                    <select class="form-control" name="ssfile" value="${input.volunteer.ssfile}">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label>Volunteers Approval Status: </label>
                    <select class="form-control" name="approval" value="${input.volunteer.approval}">
                        <option value="true">Approved</option>
                        <option value="false">Denied</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit" id="submit" value="Submit">
                </div>
            </div>
        </form>


        <input type="button" value="Cancel" id="cancel">
        <input type="button" value="log out" id="logOut" onclick("logOut")>

    </body>
</html>