<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Edit Volunteers</title>
        <script src="/js/jquery.js"></script>
        <script src="/js/js/bootstrap.js"></script>
        <link rel="stylesheet" src="/js/css/bootstrap.css">
        <script>
            $(document).ready(function(){
                
                var email,pass
                $ ("#logOut").click(function(){
                    email="";
                    pass="";
                  
                    $.post("/login",{email:email,pass:pass},function(data){
                        if(data==='done') {
                            window.location.href="/logout"
                        }
                    })
                })

                $("#cancel").click(function() {
                    window.location.href="/manageOpportunities"
                })

                $("#submit").click(function() {
                    window.location.href="/manageOpportunities"
                })

            });

            function setOption(selectElement, value) {
                return [...selectElement.options].some((option, index) => {
                    if (option.value == value) {
                        selectElement.selectedIndex = index;
                        return true;
                    }
                });
            }

            function validateForm() {
                
                var inputEmail = document.forms["editOpportunity"]["email"].value
                var emailPat = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?")
                if (inputEmail && (!inputEmail.match(emailPat))) {
                    alert("Incorrect Email Format")
                    return false
                }
                var inputPhoneNumber = document.forms["editOpportunity"]["phoneNumber"].value
                var inputemergencyPhoneNumber = document.forms["addVolunteer"]["emergencyPhoneNumber"].value
                var phonePat = new RegExp("^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$")
                if (inputPhoneNumber && (!inputPhoneNumber.match(phonePat))) {
                    alert("Incorrect Phone number Format")                    
                    return false
                }
                if (inputemergencyPhoneNumber && (!inputemergencyPhoneNumber.match(phonePat))) {
                    alert("Incorrect Emergency Phone number Format")                    
                    return false
                }

                var inputAddress = document.forms["editOpportunity"]["address"].value
                var inputEmergencyAddress = document.forms["addVolunteer"]["emergencyAddress"].value
                var addressPat = new RegExp("^[0-9]+\\s[A-Z||a-z||\\s||.]*\\s[0-9][0-9][0-9][0-9][0-9]\\s[A-Z||a-z]+$")
                if (inputAddress && (!inputAddress.match(addressPat))){
                    alert("Incorrect Address, use format: house# street zip state")
                    return false

                }

                if (inputEmergencyAddress && (!inputEmergencyAddress.match(addressPat))){
                    alert("Incorrect Emergency Address, use format: house# street zip state")
                    return false

                }
                else{
                    window.location.href="/manageOpportunities"
                }

            }

            </script>
    </head>
    <body>
        <h1>${input.greeting}</h1>
        <h1>Edit Opportunity</h1>

        <form action="/editOpportunity/${input.id}" method="post" name = "editOpportunity" >
            <label for="name">Opportunity:</label>
            <input type="text" id="name" name="name" value="${input.opportunity.name}"><br><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="${input.opportunity.email}"><br><br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="${input.opportunity.address}"><br><br>

            <label for="phonenumber">Phone Number:</label>
            <input type="text" id="phonenumber" name="phonenumber" value="${input.opportunity.phonenumber}"><br><br>
                
            <input type="submit" id="submit" value="Submit">
            
        <input type="button" value="Cancel" id="cancel">
        <input type="button" value="log out" id="logOut" onclick("logOut")>
        </form>



    </body>
</html>