<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Edit Volunteers</title>
        
        <link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/datatables.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>        
        
        <script>
            $(document).ready(function(){
                
                var email,pass
                $ ("#logOut").click(function(){
                    email="";
                    pass="";
                  
                    $.post("/login",{email:email,pass:pass},function(data){
                        if(data==='done') {
                            window.location.href="/logout"
                        }
                    })
                })

                $("#cancel").click(function() {
                    window.location.href="/manageOpportunities"
                })

                $("#submit").click(function() {
                    window.location.href="/manageOpportunities"
                })

            });

            function setOption(selectElement, value) {
                return [...selectElement.options].some((option, index) => {
                    if (option.value == value) {
                        selectElement.selectedIndex = index;
                        return true;
                    }
                });
            }

            function validateForm() {
                
                var inputEmail = document.forms["editOpportunity"]["email"].value
                var emailPat = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?")
                if (inputEmail && (!inputEmail.match(emailPat))) {
                    alert("Incorrect Email Format")
                    return false
                }
                var inputPhoneNumber = document.forms["editOpportunity"]["phoneNumber"].value
                var inputemergencyPhoneNumber = document.forms["addVolunteer"]["emergencyPhoneNumber"].value
                var phonePat = new RegExp("^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$")
                if (inputPhoneNumber && (!inputPhoneNumber.match(phonePat))) {
                    alert("Incorrect Phone number Format")                    
                    return false
                }
                if (inputemergencyPhoneNumber && (!inputemergencyPhoneNumber.match(phonePat))) {
                    alert("Incorrect Emergency Phone number Format")                    
                    return false
                }

                var inputAddress = document.forms["editOpportunity"]["address"].value
                var inputEmergencyAddress = document.forms["addVolunteer"]["emergencyAddress"].value
                var addressPat = new RegExp("^[0-9]+\\s[A-Z||a-z||\\s||.]*\\s[0-9][0-9][0-9][0-9][0-9]\\s[A-Z||a-z]+$")
                if (inputAddress && (!inputAddress.match(addressPat))){
                    alert("Incorrect Address, use format: house# street zip state")
                    return false

                }

                if (inputEmergencyAddress && (!inputEmergencyAddress.match(addressPat))){
                    alert("Incorrect Emergency Address, use format: house# street zip state")
                    return false

                }
                else{
                    window.location.href="/manageOpportunities"
                }

            }

            </script>
    </head>
    <body>
        <div class="navbar">
            <h1>${input.greeting}</h1>
            <input type="button" value="log out" id="logOut" onclick("logOut")>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 style="padding-left: 0;">Edit Opportunity</h2>

                <form action="/editOpportunity/${input.id}" method="post" name = "editOpportunity" >
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="name">Opportunity:</label>
                            <input class="form-control" type="text" id="name" name="name" value="${input.opportunity.name}"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="email">Email:</label>
                            <input class="form-control" type="text" id="email" name="email" value="${input.opportunity.email}"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="address">Address:</label>
                            <input class="form-control" type="text" id="address" name="address" value="${input.opportunity.address}"><br><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="form-label" for="phonenumber">Phone Number:</label>
                            <input class="form-control" type="text" id="phonenumber" name="phonenumber" value="${input.opportunity.phonenumber}"><br><br>
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2" style="padding-left: 0;">
                                <input type="submit" id="submit" value="Submit">
                            </div>
                            <div class="col-2" style="padding-left: 0;">
                                <input type="button" value="Cancel" id="cancel">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>