<!doctype html>

class {
    handleChange() {
        // Only emit email-changes if they are valid.
        this.emit("email-change", { email: $('#emailid') });
        $.post("/login",function(data){
            if(data==='done') {
                window.location.href="/admin";
            }
        });
    }
  }
<html>
    <head>
        <title>Home</title>
        <h1>Volunteer Managment System</h1>
        <h2>Managment of Volunteers</h2>

        <script src="/js/jquery.js"></script>
        <script>
        $(document).ready(function(){
            var email,pass
            $("#submit").click(function(){
                email=$("#email").val()
                pass=$("#password").val()
                
                $.post("/login",{email:email,pass:pass},function(data){
                    if(data==='done') {
                        window.location.href="/admin"
                    }
                })
            })
        })
        </script>
    </head>
    <body>
        <input id="email" type="email" name=input.name />
        <input type="password" size="40" placeholder="Type your password" id="password"><br />
        <span>${input.myString}</span>
        <input type="button" value="Submit" id="submit" onclick("handleChange")>
    </body>
</html>