<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Manage What</title>
        <script src="/js/jquery.js"></script>
        <script>
            $(document).ready(function(){

                $("#manageVolunteers").click(function(){
                  window.location.href="/manageVolunteers"
                });

                $("#manageOpportunities").click(function(){
                  window.location.href="/manageOpportunities"
                });
                
                
              var email,pass
              $("#logOut").click(function(){
                  email="";
                  pass="";
                  
                  $.post("/login",{email:email,pass:pass},function(data){
                      if(data==='done') {
                          window.location.href="/logout"
                      }
                  })
              })
            });

            </script>
    </head>
    <body>
        <h1>${input.greeting}</h1>
        <h1>What would you like to manage</h1>

        <button id = "manageVolunteers">Manage Volunteers</button>
        <button id = "manageOpportunities">Manage Opportunities</button>

        <input type="button" value="log out" id="logOut" onclick("logOut")>


    </body>
</html>