<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Manage Volunteers</title>
        <script src="/js/jquery.js"></script>
        <script>
            $(document).ready(function(){

                var volunteers = ${input.volunteers}
                var tableData = ''
                for (var x = 0; x < volunteers.length; x++){
                    $("#tableBody").append('<tr> <td>' + volunteers[x][0] + '</td> <td>' + volunteers[x][1] + '</td> <td>' + volunteers[x][2] + '</td> <td>' + volunteers[x][3] + '</td> <td>' + '<button class="manage" onclick="manage(' + volunteers[x][0] + ', 0)"> Delete </button>' + '</td> <td>' + '<button class="manage" onclick="manage(' + volunteers[x][0] + ', 1)"> Edit </button>' + '</td> </tr>')
                }
                
                var email,pass
                $("#logOut").click(function(){
                  email="";
                  pass="";
                  
                  $.post("/login",{email:email,pass:pass},function(data){
                      if(data==='done') {
                          window.location.href="/logout"
                      }
                  })
                })
            
                $("#addVolunteer").click(function() {
                window.location.href="/addVolunteer"
                })

                $("#manage").click(function() {
                window.location.href="/admin"
                })

                

            });
            function manage(id, option) {
                    if (option == 0){
                        $.post("/deleteVolunteer",{id:id},function(data){
                            if(data==='done') {
                                window.location.href="/manageVolunteers"
                            }
                        })
                    }
                    if (option == 1){
                        window.location.href="/editVolunteer/" + id
                    }
                }
        </script>
    </head>
    <body>
        
        <h1>${input.greeting}</h1>
        <h1>Volunteers to manage</h1>
        <table>
            <thead>
                <th>id</th>
                <th>first name</th>
                <th>last name</th>
                <th>user name</th>
                <th>delete</th>
                <th>edit</th>

            </thead>
            <tbody id="tableBody">
            
            </tbody>
        </table>
        <input type="button" value="Add Volunteer" id="addVolunteer">
        <input type="button" value="Manage" id="manage">
        <input type="button" value="log out" id="logOut">
    </body>
</html>